body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  background: #000;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-box {
  background: #031d26;
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  header {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    .trade-tab {
      padding: 20px;
      flex: 1 1 50%;
      border-radius: 10px 0 10px 0;
      cursor: pointer;
    }
    .trade-tab.active {
      background: #07303f;
    }
  }

  main {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .trade-switches {
      /* background: #07303f; */
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin-top: 0;
      .tab {
        font-family: sans-serif;
        background: #07303f;
        padding: 6px 20px;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
      }
      .tab.active {
        background: none;
        border: 1px solid #829ca5;
        border-right: none;
      }
      .tab.active-left {
        background: none;
        border: 1px solid #829ca5;
        border-left: none;
        border-radius: 0 5px 5px 0;
      }
    }
  }
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.8rem;
      margin: 8px 0;
    }

    input {
      background: #e8f4ff;
      border: none;
      border-radius: 5px;
      display: inline-block;
      width: 100%;
      position: relative;
      padding: 8px 0;
      font-size: 1.2rem;
      font-weight: bold;
      padding-left: 20px;
      padding-right: 6px;
    }

    input::placeholder {
      text-align: right;
      margin: 0px 5px;
      color: #57738c;
      font-weight: normal;
      font-size: 1rem;
    }
  }

  input:focus {
    outline: none;
  }

  button {
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    margin: 30px 0;
    padding: 8px 0;
    background: #59d675;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    position: relative;
    margin-bottom: 80px;
  }

  button::after {
    content: "";
    width: 40px;
    height: 40px;
    background: #031d26;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg) translate(0px, -34px);
  }

  button:hover {
    background: #e65661;
  }
}
